body {
	background-color: pink;
}

.container {
	width: 50%;
	position: relative;
}

.link {
	position: absolute;
}

.desription {
	position: absolute;
}

#title {
	font-family: Poiret One;
	font-size: 4vw;
	background-color: salmon;
	border: .7vw solid red;
	color: black;
	margin-top:1vw;
	margin-left:5vw;
	margin-right:5vw;
	margin-bottom:4.5em;
	padding:13vw;
	text-align: center;
	z-index: -1;
	position: relative;
}

i.fas {
	display: inline-block;
	background-image:fa-user-astronaut;
	width: 11vw;
	height: 11vw;
	border-radius: 50%;
	border: .3vw solid yellow;
	background-color: orange;
	background-size: cover;
	z-index: 1;
	position: absolute;
	top: 28.5vw;
	left: 7vw;
	text-align: left;
}

.fa-user-secret {
	color: yellow;
	padding-left: 3.3vw;
	padding-top: 2.5vw;
}

#avatar {
	position: absolute;
	font-size: .5em;
	top: 41.5vw;
	left: 6.3vw;
}

#linkedinIcon {
	position: absolute;
	top: 3vw;
	right: 9vw;
}

#movieTitle {
	font-family: Aladin;
	font-size: 2.7vw;
	max-width: 50%;
	padding-left: 1vw;
	position: relative;
	height: 3.5vw;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

a:active {
	color: gray;
	text-decoration: none;
}

#link {
	font-family: Open Sans;
	font-size: 1.5vw;
	font-weight: lighter;
	opacity: .5;
}

#movieDescription {
	font-family: Open Sans;
	display: inline-block;
	font-size: 1.5vw;
	width: 40%;
	padding-left: 1vw;
	font-weight: normal;
}

#moviePicture {
	float: right;
	display: inline;
	padding-top: 2vw;
	padding-right: 5vw;
	padding-bottom: 5vh;
}
